.follow-button {
    border-radius: 20px;
    width:150px;
    height:50px;
    font-weight:bold;
    margin-top:30px;
    background-color:inherit;
    border: 3.2px solid #5c339d;
    color: #7146b6;
    transition: all .4s ease-out;
}

  .follow-button:hover {
    cursor: pointer;
    background-color:rgba(121, 75, 196, 0.1);
    border: 3.2px solid #5c339d;
    transition: all .4s ease-out;
  }

  .follow-button:active {
    background-color:#6941aa !important;
  }

  .follow-button:focus {
    background-color:#6941aa;
  }

.unfollow-button{
  border-radius: 20px;
  width:150px;
  height:50px;
  font-weight:bold;
  margin-top:30px;
  background-color:#5c339d;
  border: none;
}

  .unfollow-button:hover {
    cursor: pointer;
    background-color:#ca2055;
    transition: all 1s ease-out;
  }

  .unfollow-button:active {
    background-color:#6941aa !important;
  }

  .unfollow-button:focus {
    background-color:#6941aa;
  }