h2 {
  color: white;
}

.login{
  height: 100%;
  width: 100%;
}

.loginContainer {
    width: 300px;
    margin: 50px auto;
    background: #171c23;
    padding: 50px;
    border-radius: 8px;
    color: black;
    border: 1px solid #414850;
  }
  
  .loginContainer .loginform input[type="password"],
  .loginContainer .loginform input[type="email"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .loginContainer .loginform input {
    margin: 6px 0;
  }
  
  .loginButton {
    background-color:#5c339d;
    width: 100%;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
  }
  
  .loginButton:hover {
    cursor: pointer;
    background-color:#6941aa;
  }

  .loginButton:active {
    background-color:#6941aa !important;
  }

  .loginButton::selection {
    background-color:#6941aa !important;
  }