h2 {
  color: white;
}

.auth{
  height: 100%;
  width: 100%;
}

.authContainer {
    width: 300px;
    margin: 50px auto;
    background: #171c23;
    padding: 50px;
    border-radius: 8px;
    color: black;
    border: 1px solid #414850;
  }
  
  .authContainer .loginform input[type="password"],
  .authContainer .loginform input[type="email"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .authContainer .loginform input {
    margin: 6px 0;
  }
  
  .authButton {
    background-color:#5c339d;
    width: 100%;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    margin-bottom:15px;
  }
  
  .authButton:hover {
    cursor: pointer;
    background-color:#6941aa;
  }

  .authButton:active {
    background-color:#6941aa !important;
  }

  .authButton::selection {
    background-color:#6941aa !important;
  }