.login{
  height: 100%;
  width: 100%;
}

.loginContainer {
    width: 300px;
    margin: 50px auto;
    background: #f5f9fa;
    padding: 50px;
    border-radius: 8px;
    color: black;
  }
  
  .loginContainer .loginform input[type="password"],
  .loginContainer .loginform input[type="email"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .loginContainer .loginform input {
    margin: 6px 0;
  }
  
  .loginButton {
    background-color: rgb(71, 184, 95);
    width: 100%;
    border: none;
    padding: 8px;
    box-sizing: border-box;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
  }
  
  .loginButton:hover {
    background-color: rgb(59, 145, 77);
    cursor: pointer;
  }