.profile-container{
    display:flex;
}

.profileimage{
    margin: 0 auto;
    height:150px;
    width:150px;
    border-radius:50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}