.loading {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loading:after{
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(29, 161, 242);
    border-color: rgb(57, 179, 255) transparent #156190 transparent;
    animation: loading 1.2s linear infinite;
}

@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
.timeline-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.timeline-container > *{
  min-width:0;
  height:100%;
}

.header {
    height: 56px;
    width: 100%;
}

.left {
    /* display: inline-block;
    height: auto;
    width: 25%; */
    flex: 1;
}

.middle {
    text-align: -webkit-center;
    /* display: inline-block; */
    width: 700px;
    height: auto;
    border-right: solid 1px rgb(45, 45, 45);
    border-left: solid 1px rgb(45, 45, 45);
}

.right {
    /* display: inline-block;
    height: auto;
    width: 25%; */
    flex: 1;
}