.timeline-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.header {
    height: 56px;
    width: 100%;
}

.left {
    display: inline-block;
    height: auto;
    width: 25%;
}

.middle {
    text-align: -webkit-center;
    display: inline-block;
    width: 700px;
    height: auto;
    border-right: solid 1px rgb(45, 45, 45);
    border-left: solid 1px rgb(45, 45, 45);
}

.right {
    display: inline-block;
    height: auto;
    width: 25%;
}

.tweet-button {
    border-radius: 20px;
    width:150px;
    height:50px;
    font-weight:bold;
    margin-top:50px;
    background-color: rgb(29 161 242);
}

.send-tweet-content{
    color:white;
    background-color:#161b22;
    border-color:#161b22;
}
.send-tweet-content:focus{
    color:white;
    background-color:#161b22;
    border-color:#161b22;
    outline: none;
}

.send-button {
    border-radius:20px;
    width:90px;
}

.modal-content{
    background-color: #161b22;
}