.tweet-button {
    border-radius: 20px;
    width:150px;
    height:50px;
    font-weight:bold;
    margin-top:30px;
    background-color:#5c339d;
    border: none;
}

  .tweet-button:hover {
    cursor: pointer;
    background-color:#6941aa;
  }

  .tweet-button:active {
    background-color:#6941aa !important;
  }

  .tweet-button:focus {
    background-color:#6941aa;
  }

.edit-profile-content{
    margin-bottom:15px;
    color:white;
    background-color:#243342;
    border-color:#161b22;
}
.edit-profile-content:focus{
    color:white;
    background-color:#161b22;
    border-color:#161b22;
    outline: none;
}

.confirm-profile-button {
    border-radius:20px;
    width:150px;
    background-color:#5c339d;
    border: none;
}

.confirm-profile-button:hover {
    cursor: pointer;
    background-color:#6941aa;
  }

  .confirm-profile-button:active {
    background-color:#6941aa !important;
  }

  .confirm-profile-button:focus {
    background-color:#6941aa;
  }

.modal-content{
    background-color: #161b22;
}