.tweet-card-container{
    background-color: #0d1117;
    border: 1px solid #414850;
    border-radius: 6px;
    margin: 15px 3px 15px 3px;
    max-width:600px;
    min-height:115px;
}

.tweet-content{
    padding: 6px 6px 6px 6px;
    text-align: -webkit-left;
    cursor: pointer;
}

.tweet-content:hover{
    background-color: #12171f;    
}

.tweet-interaction{
    background-color: #0d1117;
    text-align: -webkit-left;
    display:flex;
    border-top: 1px solid #414850;
    -webkit-box-pack: justify;
    justify-content: center;
    padding-bottom: 4px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.icon {
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}

.tweet-card-bar{
    top: 0;
    width:auto;
    height:50px;
    background-color:#161b22;
    border-bottom: 1px solid #414850;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.date {
    display:flex;
    float:right;    
    margin-right:5px;
    color:#8b8b8b;
    cursor: pointer;
    font-size: 14px;
}

.date:hover{
    text-decoration: underline;
}

.profile-container{
    display:flex;
    float:left;
    cursor: pointer;
}

.profile-image{
    height:48px;
    width:48px;
    border-radius:50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.profile-names-container {
    text-align: left;
    margin-left: 5px;
}

.profile-name{
    font-weight:bold;
}

.profile-link{
    color:#8b8b8b;
    cursor: pointer;
}

.profile-container:hover .profile-name{
    text-decoration: underline;
}